######## Ne pas toucher ########

endpoint_add_tcp "0.0.0.0:30120" 
endpoint_add_udp "0.0.0.0:30120"

######## SQL ########

set mysql_connection_string "server=91.121.30.53;database=s1973_spectralife;userid=u1973_q01EdVLb0U;password=NLKb+1yIj5op=uZgvKr.x@2^"  
set es_enableCustomData 1 

sv_scriptHookAllowed 0        

######## Default ########

stop monitor             
restart sessionmanager   
stop webadmin           
start mapmanager
start chat
start esx_rpchat
start spawnmanager
start sessionmanager
start fivem
start rconlog

######## Essential ########

start mysql-async
start essentialmode
start esplugin_mysql
start es_extended
start es_admin2
#ui
start esx_menu_default
start esx_menu_list
start esx_menu_dialog

######## Esx ########
start cron
start esx_accessories
start esx_addoninventory
start esx_addonaccount
start esx_datastore
start esx_property
start esx_billing
start esx_optionalneeds
start esx_service
start esx_society
start esx_license
start esx_status
start esx_basicneeds
start esx_skin
start skinchanger
start esx_identity
start instance

######## Menu ########
start Menu_Personel

######## Non esx ########
start jsfour-idcard
start ragdoll

sv_endpointprivacy true
sv_maxclients 4

sets Développeur "BabyGofast"
sv_hostname "BABY-CORE"
sets locale "fr-FR"

#---------------------#
set steam_webApiKey 1CC3018CA8E92B9516FC4F4DF7F2C9EE
sv_licenseKey h7d6qod9fy8ir9klrmhz2swulkpy3z0r

#A REMPLIRE#

#--------------------#

# Admin system 
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow